<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="jRESTart" verbose="1">

    <test name="Unit test suite for jRESTart">
        
        <!--
        <groups>
            <run>
                <exclude name="ignore"/>
                <include name="dal"/>
                <include name="business"/>
            </run>
        </groups>
        -->

        <!--
        <classes>

            <class name="com.example.jrestart.dal.DAOTest"/>

            <class name="com.example.jrestart.business.BusinessTest">
                <methods>
                    <exclude name="createObjects"/>
                    <exclude name="removeObjects"/>
                </methods>
            </class>

        </classes>
        -->

    </test>

</suite>
